.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    margin: 15px 0;
    height: 20px;
    width: 250px;
}

.progress-done {
    background: linear-gradient(to left, #7a5cff, #29284d);
    box-shadow: 0 3px 3px -5px #94c1f3, 0 2px 5px #f5f3f3;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}